<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mars Weather | InSight Mission – NASA's InSight Mars Lander</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png" th:href="@{/images/favicon-16x16.png}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Raleway:300,400' rel='stylesheet'>
    <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet" /> -->
</head>

<body>
<h1>Sorry, an error has occurred. Please try again later.</h1>
</body>

</html>